MANIFEST
build
dist
_build

node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml
.tern-project
npm-debug.log

dask_labextension.egg-info
dask_labextension/labextension
dask_labextension/static
# Version file is handled by hatchling
dask_labextension/_version.py
lib
node_modules
tsconfig.tsbuildinfo
.yarn

_temp_extension
dask-worker-space
