name: python

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8']

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: latest
          activate-environment: test
          python-version: ${{ matrix.python-version }}

      - name: Install
        shell: bash -l {0}
        run: |
          python -m pip install pytest black flake8
          python -m pip install .

      - name: Lint
        continue-on-error: true
        shell: bash -l {0}
        run: |
          flake8 dask_labextension 
          black dask_labextension --check

      - name: Run Tests
        shell: bash -l {0}
        run: python -m pytest dask_labextension
